 @charset "utf-8";





@media screen and (min-width: 769px) and (max-width: 992px){

    html,body{
        background-image: linear-gradient(to bottom, #AA8FBF 50%,#716080 , #665673 );
        
    }

    section{
        width: 700px;
        height: 290px;
        display: inline;
        
    }

    section div#imagem{
        float:left;
        width: 30%;
        height: 100%;
    }

    section div#login{
        float: right;
        width: 68%;
        
        
    }

    section div#login h1{
        margin: 8px 0px;
    }
    
    section p#paragrafo{
        font-size: 15.5px;
        text-align: justify;
    } 

    form div#form2{
        margin-bottom: 10px;
    }


    
}

@media screen and (min-width: 993px){
    html,body{
        background-image: linear-gradient(to bottom, #AA8FBF 50%,#716080 , #665673 );
        
    }

    section{
        width: 950px;
        height: 307px;
        display: block;
    }

    section div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section div#login{
        float: left;
        width: 48%;
        height: 100%;

        

        
    }

    section div#login h1{
        margin: 8px 0px;
    }


    section p#paragrafo{
        font-size: 16.5px;
        text-align: justify;
    }

    form div#form2{
        margin-bottom: 10px;
    }




}